/* Universal */
html {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
*, *:before, *:after {
 box-sizing: inherit;
}

body {
  font-size: 16px;
  background-color: #fff;
}

main {
  position: relative;
  top: 85px;
}


/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  padding: 0 5%;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Logo animation */

.animate-logo {
  display: flex;
  align-items: center;
}

.brand span {
  font-family: 'Merienda', cursive;
  font-weight: 700;
  font-size: 2rem;
  position: relative;
  left: 75px;
  z-index: 1;
}

@keyframes slide {
  0% {
    left: 5%;
  }
  100% {
    left: 22%;
  }
}

@keyframes rotateZ {
  from {
    transform: rotateZ(0deg);
    }
  to {
    transform: rotateZ(360deg);
    }
}

.logo img {
  animation-name: slide, rotateZ;
  animation-duration: 800ms;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-delay: 0.5s;
  position: absolute;
  top: 0;
  width: 75px;
  height: auto;
}

/* Navigation */

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Jumbotron */

h1 {
  font-family: 'Merienda', cursive;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}
.jumbotron {
  height: 700px;
  background-color: lightGreen;
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 3rem;
}

.container {
  position: relative;
  width: 270px;
  margin: 0.2rem;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4CAF50;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}
